#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto 15px auto;
}
body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#food{
    margin-left: 20px;
}
